@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page-container">
    <h1 class="title-heading">Your Concert Experience Awaits</h1>
    <h3 class="sub-heading">Discover, Manage, and Enjoy Concerts Seamlessly</h3>
    <a class="explore-button" asp-controller="Concert" asp-action="All">Explore Concerts</a>
</div>