html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.side-by-side{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    width:100%;
}
.side-by-side div{
    flex-grow:1;
    column-gap:1em;
}
.ticket-concert-radio-buttons .block-el{
    display:block;
}
.announce-button {
    display: block;
    max-width: 300px;
    text-decoration: none;
    color: black;
    background-color: #FBB917;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 20px;
}
.announce-button:hover{
    color:black;
    font-weight:bold;
    border:3px solid black;
}
#paid-tickets {
    display: none;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F0F8F5;
}
.navbar {
    background-color: #008080 !important;
    color: white;
}
.nav-item a, .nav-item button{
    color: white !important;
}
.nav-item:hover, .nav-item button:hover{
    font-weight: bold;
    text-decoration: underline;
}
.navbar-brand {
    color: white !important;
}
.navbar-brand:hover{
    font-weight:bold;
   
}
.dropdown-item, .dropdown-menu, .dropdown-menu li, .dropdown-menu a:focus, .dropdown .nav-item {
    background-color: #008080;
}
.dropdown-menu a:hover{
    background-color:#008080;
    font-weight:bold;
}
.explore-button {
    text-decoration: none;
    color: black;
    font-size: 18px;
    background-color: #FBB917;
    border: 1px solid black;
    padding: 5px 10px;
}
.explore-button:hover{
    font-weight:bold;
    border-width:2px;
    color:black !important;
    text-decoration: underline;
}
.title-heading{
    margin-bottom:50px;
}
.sub-heading{
    margin-bottom:20px;
}
.home-page-container {
    max-width: 700px;
    margin: 0 auto;
    margin-top:100px;
}