@using ConcertHub.ViewModels;
@model IEnumerable<AllTicketsViewModel>;

@if(@Model != null)
{
	@foreach (var t in Model)
	{
		<div class="ticket">
			<div class="ticket-info">
				<span>@t.ConcertName</span>
				<span>@t.TicketType.Name</span>
				<span>@t.TicketType.Price.ToString("F2")$</span>
			</div>
			<a>Buy</a>
		</div>
	}
}